<header class="p-3 bg-dark text-white mb-4">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li class="nav-item">
          <a href="/shoes" class="nav-link px-2">All shoes</a>
        </li>
        <li class="nav-item">
          <a href="/new" class="nav-link px-2">New shoes</a>
        </li>
        <li class="nav-item">
          <a
            href="/delete"
            class="nav-link px-2"
            onclick="return confirm('Are you sure you want to delete all shoes?');"
            >Delete all shoes</a
          >
        </li>
        <li class="nav-item">
          <a href="/category" class="nav-link px-2">All categories</a>
        </li>
        <li class="nav-item">
          <a href="/category/new" class="nav-link px-2">New category</a>
        </li>
        <li class="nav-item">
          <a
            href="/category/delete"
            class="nav-link px-2"
            onclick="return confirm('Are you sure you want to delete all categories?');"
            >Delete all categories</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
