<%- include('../partials/head') %> <%- include('../partials/header') %>
<div class="container">
  <h1>Hi, this is my shoes inventory management page</h1>
  <br /><br />

  <ul class="list-group">
    <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
    <li class="list-group-item">
      <a href="/shoes" class="nav-link px-2">All shoes</a>
    </li>

    <li class="list-group-item">
      <a href="/category" class="nav-link px-2">All categories</a>
    </li>
  </ul>
</div>

<%- include('../partials/footer') %>
